@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_1_0.svg#wf) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: ProximaNova;
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot);
  src: url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix) format("embedded-opentype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2) format("woff2"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff) format("woff"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf) format("truetype"),url(https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf) format("svg");
  font-weight: 700;
  font-style: normal
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');


@import url('https://fonts.googleapis.com/css?family=Montserrat:700%7COpen+Sans:400,400i,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,800');

@import "bootstrap-variables";
@import "bootstrap-custom";
@import "mixins";

@import "slick.scss";

@import "nav";
@import "about";
@import "footer";
@import "contact";
@import "portfolio";
@import "_blog.scss";






img{
	max-width: 100%;
	height: auto;
}
[type="submit"],
[type="button"],
button,
.btn{
    @include ba-transition;

}

a{
	& > svg{
		fill:currentColor;
	}
}



.btn{
    @include ba-transition;
	display: inline-block;
	background: $brand-primary;
	color: #FFF;
	font: 700 14px/51px $headings-font-family;
	padding: 0 32px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	height: 50px;
	&:hover, &:focus{
		background: darken($brand-primary, 20%);
		color: #FFF;
		text-decoration: none;
	}
	&--light{
		background: #FFF;
		color: $brand-primary;
		margin-left: -15px;
		padding-right: 28px;
		&:hover, &:focus{
			background: darken(#fff, 5%);
			color: $brand-primary;
		}
	}
}

body{
	font: 400 14px/2.2  "Open Sans", sans-serif;
	color: #60606e;
}
h1, h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
}
/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
}
/*
.btn{
    @include ba-transition;
	display: inline-block;
	background: $brand-primary;
	color: #FFF;
	font: 700 14px/50px $headings-font-family;
	padding: 0 32px;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 0;
	&:hover, &:focus{
		background: darken($brand-primary, 20%);
		color: #FFF;
		text-decoration: none;
	}
	&--light{
		background: #FFF;
		color: $brand-primary;
		&:hover, &:focus{
			background: darken(#fff, 5%);
			color: $brand-primary;
		}
	}
}
*/

/* Typography */
a{
	color: $brand-primary;
	text-decoration: none;
}
a:hover{
	color: #60606e;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 18px;
}
h5,h6{
	font-size: 14px;
}
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-flex-row{
	display: flex;
	flex-wrap: wrap;
}

.ba-history{
	//padding-right: 200px;
	font-size: 16px;
	padding-top: $grid-gutter-width;
	position: absolute;
	top: 0;
	p{
		line-height: 2;
	}
	@include breakpoint(md){
		padding-top: 18px;
	}
}
.ba-main--home{
	padding-top: 95px;
	margin-top: -12px;
}
.row{
	margin-top: 90px;
}
.ba-row{
	margin-top: 120px;
}
.ba-choose__content .row{
	margin-top: 117px;
}
.ion-ios-shuffle:before,
.ion-ios-infinite-outline:before,
.ion-ios-cart-outline:before,
.ion-ios-settings:before{
	font-size: 36px;
	}
.ba-why-small-title{
	text-transform: uppercase;
	font-family: 700 18px/48px 'Montserrat', sans-serif;
	color:  #60606e;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
}
.ba-why-small-title__list{
	padding-left: 0;
	list-style-type: none;
	text-transform: uppercase;
	font-family: 'OpenSans', sans-serif;
	color:  #999999;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.col-md-6 .why-contant{
	margin-top: 15px;

}
.ba-choose__content .why-contant-row-2{
	margin-top: 35px;
}
.ba-main--home .ba-section-why-choose{
	padding-top: 140px;
}
.why-contant-fourth-part{
	margin-left: 0px;
}
body .ba-intro-home{
	padding-bottom: 0px;
}
.ba-intro{
	padding-bottom: 0px;
	background: #EBEBEB url(../img/bg.jpg) 50% 100%;
	background-size: cover;
	//padding-top: 43px;
}
.ba-intro__body{
	padding: 150px 0 103px;
	max-width: 560px;
	margin: 0 auto;
	font-size: 16px;
	p{
		font-family: 'Open Sans', sans-serif;
		color:  #60606e;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.01em;
		word-spacing: 0.01em;
	}
}
.ba-intro__history{
	margin-top: -120px;
	}

.ba-page-title {
	text-transform: uppercase;
	margin: 0 auto;
	letter-spacing: -0.025em;
	&__sup{
		position: absolute;
		background: $brand-primary;
		font-size: 18px;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -10px);
		padding: 2px 20px 1px;
		height: 30px;
		line-height: 34px;

	}

	&--home{
		position: relative;
		border: 10px solid currentColor;
		display: inline-block;
		font-size: 48px;
		padding: 4px 36px;
		letter-spacing: -0.6px;
		margin-bottom: 24px;
	}
}

.ba-breadcrumbs{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.ba-breadcrumbs li{
	display: inline-block;
	font:700 14px/1 Montserrat, sans-serif;
}
.ba-breadcrumbs li:not(:first-child):before{
	content: '/';
	margin:  0 4px;
}
.ba-breadcrumbs a,
.ba-breadcrumbs span{
	color:#60606e;
	text-transform: uppercase;
}
.ba-breadcrumbs a:hover{
	text-decoration: underline;
}
.ba-title{
	text-transform: uppercase;
	margin: 0 0 4px;

}
.ba-section-portfolio .ba-section-portfolio-choose-category{
	margin-top: 120px;
}

.ba-title span{
	display: inline-block;
	position: relative;
	letter-spacing: -0.02em;
	z-index: 0;
	font-family: 'Montserrat';
	color:  #60606e;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 48px;/* Приближение из-за подстановки шрифтов */
	padding-right: 38px;
}
.ba-title span:before {
	position: absolute;
	content: "";
	background-color: $brand-primary;
	width: 68px;
	height: 21px;
	z-index: -1;
	left: 0;
	bottom: 3px;
}
.ba-history__contant-1{
	padding-top: $grid-gutter-width;
	font-size: 16px;
	p{
		line-height: 1.9;
	}
	@include breakpoint(md){
		padding-top: 38px;
	}
}
.ba-history-contant{
	font-family: 'Open Sans',sans-serif;
	color:  #60606e;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 30px;
}
.ba-subtitle{
	text-transform: uppercase;
	margin: 0 0 16px;
	font-family: $font-family-base;
	font-weight: 800;
}

p{
	margin: 0 0 15px;
}
p:last-child{
	margin-bottom: 0;
}

.ba-section{
	padding-top: 0px;
	&__content{
	        max-width: 750px;
	        margin: 0 auto 100px;
	        text-align: center;
	    }
}
.ba-section__head{
	text-align: center;
	margin:0 auto 90px;
	padding-top: 6px;
	max-width: 750px;
}
.ba-section__head-text{
	margin-right: 10px;
}
.ba-section__title {
	margin-bottom: 8px;
	span{
		letter-spacing: -0.02em;
	}
}
.ba-benefit-title__icon {
    display: inline-block;
    font-size: 30px;
    background-color: #7beec7;
    width: 40px;
    height: 40px;
    color: #FFF;
    line-height: 42px;
    text-align: center;
    vertical-align: middle;
    margin-right: 0px;
}
.ba-benefit-title-text-left{
	p{
		text-align: left;
	}
}
.ba-benefit-title__text{
	width: calc(100% - 120px);
	letter-spacing: -0.02em;
}

.ba-first-row-dream-team{
	margin-top: 87px;
}
.ba-first-row-dream-team-img{
   // margin-bottom: 31px;
    img{
    	width: 262px;
    	height: 335px;
    }
}
.ba-after-photo-row{
	margin-bottom: 145px;
	background: #EFEFF0;
	    height: 120px;
	   // margin-top: 30px;
	    //    margin-bottom: 0%;
	    padding: 50px 0px 100px 0px;
	        p{
	        	font: italic 18px/2.67 'Open Sans', sans-serif;
	        	margin-left: 8.9px;
	        }
	        .btn-primary-after-photo{font: 700 14px/3.43 'Montserrat', sans-serif;
	      //  padding: 0 38px 0 38px;
	        text-transform: uppercase;
	        margin-top: 8px;
	        	}
}
.ba-team-slider{
	margin-top: 30px;
}

.second-row{
	margin-bottom: 30px;
}
.form-control{
	box-shadow: none;
	border-style: $input-border;
	font-weight: 700;
	font-size: 12px;
	font-family: $headings-font-family;
	text-transform: uppercase;
}
.ba-subcribe{
	background: $brand-primary;
	color: #FFF;
	padding: 0px 0 48px 0;
}
.ba-subcribe-form-title-before{
	margin-top: -10px;
	margin-left: -17px;
	padding-left: 0;
	font-family: 700 30px/48px 'Montserrat', sans-serif;
	color:  #ffffff;
	letter-spacing: -0.02em;
	margin-bottom: 20px;
}
.ba-subcribe-row{
	margin-top: 50px;
}
.ba-subcribe-form-text{
	margin-bottom: 27px;
}
.ba-subcribe-form-title{
	margin-top: 0;
	padding-right: 30px;
	font: 700 24px/36px 'Montserrat';
	color:  #60606e;
	text-align: left;
	letter-spacing: -0.028em;
	margin-bottom: 5px;
}

.ba-subcribe-form{
	background: #FFF;
	color: $text-color;
	padding: 10px 20px 0px 25px;
	p{
		letter-spacing: 0.00em;
		font: 400 16px/24px 'Open Sans', sans-serif;
		color:  #999999;
	}
	&__inputs{
		display: flex;
		width: 520px;
		margin-bottom: 0px;
		.form-control{
			background: #FFF;
		}
		.btn{
			padding: 0 48px;
			margin: 0px 15px 20px 20px;
		}
		.btn-27{
			margin-left: 0;
		}
	}
}

.ba-col-to-action{
	margin-bottom: $grid-gutter-width;
}
.breadcrumb{
	li{
		text-transform: uppercase;
		font: 700 14px/1 $headings-font-family;
		& + li:before{
			padding: 0px 3px;
		}

		a {color: #60606E;
		padding-top: 15px;
			&:hover{
				color: red;
				text-decoration: none;
			}
		}
	}
}
.btn-primary{
	/*position: absolute;
	right: 10px;*/
	padding-right: 61.5px;
	padding-left: 61.5px;
}
.ba-history{
	padding-right: 15px;
	&__img{
		overflow: hidden;
	img{
		display: block;
		transition: transform .2s ease-in;
	}
	&:hover{
		img{
			transform: scale(1.1);
		}

	}
	}

}
.ba-history__img img{
	overflow: hidden;
}

/*blog.scss*/
.nav-tabs{
	border-bottom: 2px solid #e3e3e3;
	& > li{
		margin-bottom: -2px;
		&.active{
			& > a{
				border-color: transparent transparent $brand-primary;
				background: none;
				color: $text-color;
				border-width: 0 0 2px;


				&:hover, &:active, &:focus{
					border-width: 0 0 2px;
					border-color: transparent transparent $brand-primary;
					color: $text-color;
				}
			}
		}
		& > a{
			font: 700 12px/1 $headings-font-family;
			text-transform: uppercase;
			color: #999999;
			&:hover, &:active, &:focus{
				border-color: transparent;
				background: none;
				color: $text-color;
			}

		}

	}
}

/*.ba-post__img{
	margin-bottom: 0;
}*/
.ba-section__text{
	 h2{
 	text-transform: uppercase;
 }
 span {
     display: inline-block;
     position: relative;
     letter-spacing: -0.04em;
     z-index: 0;

 }
 .ba-second__portfolio-title{
 	letter-spacing: -0.035em;
 	padding-right: 0;
 }
 span :before {
     position: absolute;
     content: "";
     background-color: #7beec7;
     width: 68px;
     height: 21px;
     z-index: -1;
     left: 0;
     bottom: 3px;
 }
}

/*Exam*/
.ba-header .navbar-default .ba-list-header{
	a{
		font-family: 'ProximaNova';
	color:  #ffffff;
	font-size: 24px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 60.035px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	}

}
.ba-creative-contant{
	padding-top: 240px;
	padding-bottom: 514px;
	h1{
			letter-spacing: -0.007em;
			padding-left: 77px;
			text-transform: uppercase;
			font-family: 'ProximaNova', sans-serif;
			color:  #fefefb;
			font-size: 71.97px;/* Приближение из-за подстановки шрифтов */
			font-weight: 700;
			line-height: 60.035px;/* Приближение из-за подстановки шрифтов */
			text-align: left;
	}
	p{
		padding-top: 17px;
		font-family: 'PT Sans', sans-serif;
		color:  #fefdfd;
		font-size: 29.99px;/* Приближение из-за подстановки шрифтов */
		font-style: italic;
		line-height: 35px;
		text-align: center;
	}
}

.ba-about-us{
	background: #EBEBEB;
	.ba-about-row-1{
		padding-top: 33px;
		p{
			font-family: 'PT Sans', sans-serif;
			color:  #665f60;
			font-size: 20px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 24px;
			text-align: left;
			letter-spacing: -0.001em;
			span{
				font-weight: 700;
				}
		}
		.ba-second-paragraf{
			padding-top: 7px;
			padding-bottom: 83px;
		}
		.ba-about__contant-1{
			padding-top: 73px;
			.btn-button{
				color:  #7d7a7c;
				font-size: 20px;/* Приближение из-за подстановки шрифтов */
				font-style: italic;
				letter-spacing:-0.04em;
				border: 1px solid #7D7A7C;
				padding: 10px 50px;
				margin-right: 35px;
			}
		}
	}
	.ba-img-first{
		position: relative;
		.ba-sothink-img{
		position: absolute;
		top: 75px;
		left: 150px;
		p{
			padding-top: 25px;
			text-transform: uppercase;
			font-family: 'ProximaNova';
			color:  #fefbfc;
			font-size: 35.94px;/* Приближение из-за подстановки шрифтов */
			font-weight: 400;
			line-height: 60.035px;
			transform: scaleY(1.0015);
			padding-right: 50px;
		}
		}
	}

	.ba-about__contant-2{
		.ba-about-grafic{
		font-family: 'PT Sans';
		color:  #665f60;
		font-size: 23.99px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		text-align: left;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 6px;
	}
	.ba-about-grafic-text{
		font-family: 'PT Sans',sans-serif;
		color:  #665f60;
		font-size: 18px;/* Приближение из-за подстановки шрифтов */
		font-style: italic;
		text-align: center;
		line-height: 23px;
		margin-bottom: 130px;
	}
  }
  .ba-color-first{
  	background: #DBDBDB;
  }
  .ba-color-second{
  	background: #EBEBEB;
  }
  .ba-color-first,
  .ba-color-second{
  	padding-top: 100px;
  }
  .ba-row-grafic{
  	margin-top: 0;
  }
	.ba-row-contant-second{
		margin-top: 150px;
	}
	.ba-big-column{
		padding-left: 0;
	}
	.ba-big-column{
		position: relative;
		.ba-big-column-contant{
			position: absolute;
			top: 115px;

		}
	}
	.ba-big-column__img{
		margin-bottom: 200px;
	}
}
.ba-section-works{
	padding-top: 53px;
	background:  #B5B3D7 url(../img/works-bg.png) 50% 100%;
background-size: cover;

	.ba-works-title{
		margin-top: 20px;
		margin-bottom: 0px;
		font-family: 'ProximaNova';
		color:  #fefcfe;
		font-size: 36px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		text-align: center;
	}
	.slick-dots{
		position: absolute;
		    bottom: -55px;
		    left: 0;
		    right: 0;
		    margin: 0 0;
		    padding: 0;
		    list-style: none;
		    text-align: center;
		    border-radius: 50px;
	}
	.ba-team-slider{
		margin-top: 55px;
		position: relative;
		.ba-left{
			position: absolute;
			top: 275px;
			left: -90px;
		}
		.ba-right{
			position: absolute;
						top: 275px;
						right: -90px;
		}
	}
}
.btn-button-works{
	margin-top: 50px;
	color:  #7d7a7c;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-style: italic;
	letter-spacing:-0.04em;
	border: 1px solid #7D7A7C;
	padding: 10px 50px;
	margin-right: 35px;
}
.ba-first-column{
	padding-bottom: 108px;
}
.btn-center-works{
	margin-bottom: 65px;
}
.ba-section-our-team{
	padding-top: 53px;
	background: #E9E9E9;
	.ba-gangster{
		position: relative;
		background: #FFF;
		width: 350px;
		height: 300px;
		.ba-gangster-player{
			position: absolute;
			top: -85px;
			left: 50px;
		}
	}
	.ba-name-gangaster{
		font-family: 'ProximaNova';
		color:  #9f9acf;
		font-size: 24px;/* Приближение из-за подстановки шрифтов */
		font-weight: 700;
		text-align: center;
	}
	.ba-work-gangaster{
		font-family: 'PT Sans';
		color:  #665f60;
		font-size: 24px;/* Приближение из-за подстановки шрифтов */
		font-style: italic;
		text-align: center;
	}
	.ba-gangster-socials{
		background-color:  #9f9acf;
		width: 335px;
		height: 70px;
		position: absolute;
		bottom: -60px;
		padding: 20px 20px;
		img{
			display: inline-block;
		}
	}
}

.ba-map{
	width: 100%;
	height: 900px;
}
