<footer class="ba-footer">
	<div class="container">
		<div class="ba-footer-row">
			<div class="col-md-7 col-lg-8">
				<nav>
					<ul class="nav navbar-nav ba-footer-menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="services.html">Portfolio</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact us</a></li>

					</ul>
				</nav>

			</div>
			<!-- /.col-md-7 -->
			<div class="col-md-5 col-lg-4 ba-footer-second-part">
			 	<p class="ba-footer-contant">Created by akhouad 2016. All Rights Reserved</p>
			 	<div class="ba-socials-pages">
			 		<a href="#"><i class="ion-social-facebook"></i></a>
			 		<a href="#"><i class="ion-social-twitter"></i></a>
			 		<a href="#"><i class="ion-social-youtube"></i></a>
			 		<a href="#"><i class="ion-social-instagram"></i></a>
			 		<a href="#"><i class="ion-social-pinterest"></i></a>
			 		<a href="#"><i class="ion-social-linkedin"></i></a>
			 	</div>
			</div>
			  <!-- /.col-md-5 -->
		</div>
		 <!-- /.row -->

	</div>
</footer>
