<section class="ba-section-portfolio">
	<div class="container">
	<div class="ba-section__contant">
	    <h2 class="ba-title text-center">
	    	<span>our portfolio</span>
	    </h2>
	    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</div>
	<!-- /.ba-section__contant-->
	<div class="row ba-section-portfolio-choose-category">
		<div class="col-md-3">
		<h2 class="ba-title ba-section__title">
			<span class="ba-second__portfolio-title">choose category</span>
		</h2>



		  <ul class="ba-portfolio-filter ">
		   <li>
		    	<button data-filter=".all" class="ba-active">All</button>
			</li>
		    <li>
		    	<button data-filter=".webdesign">webdesign</button>
		    </li>
			<li>
				<button data-filter=".graphic">graphic desig</button>
			</li>
		    <li>
		    	<button data-filter=".fashion">fashion</button>
			 </li>
		    <li>
		    	<button data-filter=".logo">logo desig</button>
		    </li>
			<li>
				<button data-filter=".advertising">advertising</button>
			</li>
		  </ul>

	</div>
	 <!-- /.col-md-3 -->
	 <div class="col-md-9">
		<div class="ba-portfolio">
			<div class="ba-portfolio__item all">

				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-1-1.png" alt="portfolio" >
				</a>
			</div>

			<div class="ba-portfolio__item all webdesign">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-2-1.png" alt="portfolio" >
				</a>

			</div>

			<div class="ba-portfolio__item all graphic">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-3-1.png" alt="portfolio" class=" graphic">
				</a>

			</div>

			<div class="ba-portfolio__item all graphic logo">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-1-2.png" alt="portfolio" >
				</a>

			</div>

			<div class="ba-portfolio__item all  webdesign">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-2-2.png" alt="portfolio" >
				</a>

			</div>

			<div class="ba-portfolio__item all fashion">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-3-2.png" alt="portfolio" >
				</a>

			</div>

			<div class="ba-portfolio__item all webdesign advertising">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-1-3.png" alt="portfolio" >
				</a>

			</div>
			<div class="ba-portfolio__item all graphic">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-3-3.png" alt="portfolio" >
				</a>

			</div>
			<div class="ba-portfolio__item all webdesign">
				<a href="single-post.html" class="ba-post__img">
					<img src="./assets/img/img-2-3.png" alt="portfolio">
				</a>

			</div>
		</div>
		 <!-- /.col-md-4 -->

	 </div>
	  <!-- /.col-md-9 -->
	</div>
	 <!-- /.row -->

	</div>
	 <!-- /.container -->
</section>

