
	<section class="ba-subcribe ba-section">
	<div class="container">
		<div class="ba-subcribe-row">
		 	<div class="col-md-6">
		 		<div class="ba-col-to-action">
		 			<h2 class="ba-subcribe-form-title-before">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2>
		 		<a href="#" class="btn btn--light">get in touch</a>

		 		</div>
		 		<!-- /.ba-col-to-action -->
		 				 	</div>
		 	<!-- /.col-md-6 -->
		 	<div class="col-md-6">
		 		<form action="#" method="post" class="ba-subcribe-form">
					<h3 class="ba-subcribe-form-title">STAY INFORMED WITH OUR NEWSLETTER</h3>
					<p class="ba-subcribe-form-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div required class="ba-subcribe-form__inputs">
						<input type="email" name="email" class="form-control" placeholder="your email">
						<button type="submit" class="btn btn-27 btn-primary">send</button>
					</div>
					<!-- /.ba-subcribe-form__inputs -->
		 		</form>
		 	</div>
		 	<!-- /.col-md-6 -->
		 </div>
		 <!-- /.row -->
	</div>
	 <!-- /.ba-container -->
</section>


 <!-- /.container -->
